# Preprocessing

In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Load dataset
df = pd.read_csv("E:/data/Data11/preprocessed_data.csv", parse_dates=True, index_col=0)

C:\Users\HP\AppData\Local\Temp\ipykernel_17924\787456957.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("E:/Git_repo/time_series_credit_risk/results/preprocessed_data.csv", parse_dates=True, index_col=0)

In [4]:
# Check missing values
print("Missing Values:\n", df.isnull().sum())

Missing Values:
 Adj Close    0
Close        0
Close.1      0
Close.2      0
High         0
High.1       0
High.2       0
Low          0
Low.1        0
Low.2        0
Open         0
Open.1       0
Open.2       0
Volume       0
Volume.1     0
Volume.2     0
dtype: int64

In [ ]:
# Display processed dataset
display(df.head())

,Adj Close,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
Price,,,,,,,,,,,,,,,,
Ticker,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA
Date,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA,BND,SPY,TSLA
2015-01-02,TSLA,62.573143005371094,172.59286499023438,TSLA,62.60342713073623,173.81109879252688,TSLA,62.399010728548156,171.54267227773067,TSLA,62.406583203916014,173.3910217075254,TSLA,2218800,121465900,TSLA
2015-01-05,TSLA,62.754817962646484,169.47593688964844,TSLA,62.77752960395109,171.7023407942725,TSLA,62.610969866245156,169.16508388176382,TSLA,62.641253980019336,171.53431248784128,TSLA,5820100,169632600,TSLA
2015-01-06,TSLA,62.936519622802734,167.87962341308594,TSLA,63.125791010094325,170.3160655379834,TSLA,62.86081222310696,167.0730697163054,TSLA,62.86081222310696,169.78676427385443,TSLA,3887600,209151400,TSLA